<section class="Hero pad-l">
	<div class="container">
		<h1 class="Hero__text heading-xl">Animate Anything</h1>

		<div class="Hero__images">
			<img class="Hero__image" src="./assets/image-1.jpg" alt="" />
			<img class="Hero__image" src="./assets/image-2.jpg" alt="" />
			<img class="Hero__image" src="./assets/image-3.jpg" alt="" />
			<img class="Hero__image" src="./assets/image-4.jpg" alt="" />
			<img class="Hero__image" src="./assets/image-5.jpg" alt="" />
			<img class="Hero__image" src="./assets/image-6.jpg" alt="" />
			<img class="Hero__image" src="./assets/image-7.jpg" alt="" />
			<img class="Hero__image" src="./assets/image-8.jpg" alt="" />
			<img class="Hero__image" src="./assets/image-9.jpg" alt="" />
			<img class="Hero__image" src="./assets/image-10.jpg" alt="" />
			<img class="Hero__image" src="./assets/image-11.jpg" alt="" />
			<img class="Hero__image" src="./assets/image-12.jpg" alt="" />
			<img class="Hero__image" src="./assets/image-13.jpg" alt="" />
			<img class="Hero__image" src="./assets/image-14.jpg" alt="" />
		</div>
	</div>
</section>
